.card {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 6.4rem;
  margin-top: 2rem;

  border-top: 1px solid var(--gray-400);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
}

.card img {
  width: 5.6rem;
  height: 5.6rem;
  margin-bottom: 1.6rem;  
}

.card strong {
  font-weight: bold;  
  color: var(--gray-300);
}

.card p {
  color: var(--gray-300);
}
